In [3]:
print("Alo mundo")

Alo mundo

Exercício:

- Criar uma classe produto
- Com uma função para calcular o valor total do produto

# Listas de regras
 - A Classe é um conjunto de objetos;
 - A Classe agrupa objetos em comum;
 - A Classe possui um costrutor; __init__
 - As caracteristicas dos objetos são atributos.
 - O self acessa as caracteristicas e comportamentos das classes
 - Os métodos de trabalho (workers- Oziel Moreira Neto): são métodos para calcular , desenvolver a logica de programação

In [14]:
class Produto:
    def __init__(self,qtde,preco):
        self.qtde = qtde
        self.preco = preco

    def calcular_total(self):
        return self.qtde*self.preco

In [15]:
# passagem de parametro por valor
p = Produto(qtde=10,preco=10)
# nome de variavel, nao pode ter acendo ou ç. E nao começa com letra maiuscula, elas são recomendadas à classe
print(f"O valor total de melancia é:{p.calcular_total()}")

O valor total de melancia é:100

Marvin agora e só você eu fiz o meu melhor e seu futuro eu sei de...

Desafio:
- Analise o Dataset aluguel.csv da aula passada.
- E crie uma classe que representará o rquivo 
- Crie três imóveis objetos que esta no dataset.

In [1]:
import pandas as pd

url= "dataset/aluguel.csv"

dados= pd.read_csv(url,sep=";")
dados.head(25)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
13,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
14,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
16,Prédio Inteiro,Botafogo,0,0,0,536,28000.0,NaN,3563.0
17,Flat,Botafogo,3,1,1,80,3800.0,1040.0,NaN
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
19,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
20,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
21,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
23,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
24,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN

In [5]:

# Definindo a classe Imovel
class Imovel:
    def __init__(self, tipo, bairro, area, quartos, banheiros, vagas_garagem, aluguel, IPTU):
        self.tipo= tipo
        self.bairro = bairro
        self.area = area
        self.quartos = quartos
        self.banheiro = banheiros
        self.vagas_garagem = vagas_garagem
        self.aluguel = aluguel 
        self.IPTU = IPTU
        
imovel1 = Imovel ('casa','setor norte',1,4,2,1,800,2.000)
imovel2 = Imovel ('kitnet','setor sul',1,2,4,5,900,3.000)
imovel3 = Imovel ('apartamento','setor tradicional',2,3,5,7,1.000,4.000)

print(imovel1.tipo, imovel1.bairro,imovel1.area,imovel1.quartos,imovel1.banheiro,imovel1.vagas_garagem,imovel1.aluguel,imovel1.IPTU)
print(imovel2.tipo, imovel2.bairro,imovel2.area,imovel2.quartos,imovel2.banheiro,imovel2.vagas_garagem,imovel2.aluguel,imovel2.IPTU)
print(imovel3.tipo, imovel3.bairro,imovel3.area,imovel3.quartos,imovel3.banheiro,imovel3.vagas_garagem,imovel3.aluguel,imovel3.IPTU)

casa setor norte 1 4 2 1 800 2.0
kitnet setor sul 1 2 4 5 900 3.0
apartamento setor tradicional 2 3 5 7 1.0 4.0