Aula de Web Scraping

#### 1. Link para Raspagem
https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/#google_vignette

#### 1.1 Leis Locais (Brasil)

- LGPD lei geral de proteção de dados 
-  Ética e Responsabilidade

1.2 Ler um HTML 

# Definir uma variavel ( é um espaço reservado na memoria do computador)

In [5]:
# Definir uma variavel ( é um espaço reservado na memoria do computador)

url = "https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/"

#### 1.3 instalar os pandas

In [1]:
print('web scraping')

web scraping

In [6]:
# Tipagem Dinamica
# O Tipo é definido em tempo de execução 
type(url)

str

In [8]:
# Então instale o pandas
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\projeto final manhã\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\projeto final manhã\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\projeto final manhã\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\projeto final manhã\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\projeto final manhã\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\projeto final manhã\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

1.4 Ler HTML com pandas

1.4 Importar o Pandas

In [9]:
import pandas as pd

In [12]:
tabela_brasileirao = pd.read_html(url,encoding='utf-8')

# use UTF-8 ou ISQ-8859-1

Instale a Biblioteca lxml

In [11]:
! pip install lxml

Collecting lxml
  Using cached lxml-5.2.2-cp312-cp312-win_amd64.whl.metadata (3.5 kB)
Using cached lxml-5.2.2-cp312-cp312-win_amd64.whl (3.8 MB)
Installing collected packages: lxml
Successfully installed lxml-5.2.2

1.7 Conhecer Biblioteca para Web Scraping (site: https://pypi.org/)

- html5lib
- beautifulsoup4
- lxml

In [13]:
tabela_brasileirao

[    Times  Times.1                 Times.2  Times.3   P   J   V  E   D  GP  \
 0       1      NaN             Botafogo >>   Subiu1  43  21  13  4   4  35
 1       2      NaN             Flamengo >>  Desceu1  40  20  12  4   4  34
 2       3      NaN            Fortaleza >>   Subiu1  39  20  11  6   3  26
 3       4      NaN            Palmeiras >>  Desceu1  37  21  11  4   6  28
 4       5      NaN             Cruzeiro >>      NaN  35  20  11  2   7  29
 5       6      NaN            São Paulo >>      NaN  35  21  10  5   6  29
 6       7      NaN                Bahia >>      NaN  32  21   9  5   7  29
 7       8      NaN         Athletico-PR >>      NaN  28  19   8  4   7  22
 8       9      NaN          Atlético-MG >>      NaN  28  19   7  7   5  28
 9      10      NaN           Bragantino >>      NaN  26  19   7  5   7  24
 10     11      NaN        Vasco da Gama >>      NaN  24  20   7  3  10  22
 11     12      NaN             Criciúma >>      NaN  24  19   6  6   7  28
 12     13      NaN            Juventude >>      NaN  22  19   5  7   7  21
 13     14      NaN               Grêmio >>   Subiu2  21  19   6  3  10  17
 14     15      NaN              Vitória >>   Subiu2  21  21   6  3  12  23
 15     16      NaN        Internacional >>  Desceu2  21  16   5  6   5  14
 16     17      NaN           Fluminense >>   Subiu2  20  20   5  5  10  16
 17     18      NaN          Corinthians >>  Desceu3  20  21   4  8   9  19
 18     19      NaN               Cuiabá >>  Desceu1  17  19   4  5  10  19
 19     20      NaN  Atlético Goianiense >>      NaN  12  21   2  6  13  17

     GC  SG   %
 0   20  15  68
 1   20  14  66
 2   19   7  65
 3   17  11  58
 4   22   7  58
 5   21   8  55
 6   25   4  50
 7   20   2  49
 8   28   0  49
 9   23   1  45
 10  31  -9  40
 11  29  -1  42
 12  25  -4  38
 13  22  -5  36
 14  32  -9  33
 15  14   0  43
 16  24  -8  33
 17  28  -9  31
 18  25  -6  29
 19  35 -18  19  ]

1.9 Mostrar o tipo

In [21]:
type(tabela_brasileirao)

list

1.10 realizar a conversão de lista para DataFama

In [23]:
df = tabela_brasileirao[0]

1.11 Mostrar os cinco primeiros

In [24]:
df.head()

   Times  Times.1       Times.2  Times.3   P   J   V  E  D  GP  GC  SG   %
0      1      NaN   Botafogo >>   Subiu1  43  21  13  4  4  35  20  15  68
1      2      NaN   Flamengo >>  Desceu1  40  20  12  4  4  34  20  14  66
2      3      NaN  Fortaleza >>   Subiu1  39  20  11  6  3  26  19   7  65
3      4      NaN  Palmeiras >>  Desceu1  37  21  11  4  6  28  17  11  58
4      5      NaN   Cruzeiro >>      NaN  35  20  11  2  7  29  22   7  58

1.12 mostrar os cinco ultimos

In [25]:
df.tail()

,Times,Times.1,Times.2,Times.3,P,J,V,E,D,GP,GC,SG,%
15,16,NaN,Internacional >>,Desceu2,21,16,5,6,5,14,14,0,43
16,17,NaN,Fluminense >>,Subiu2,20,20,5,5,10,16,24,-8,33
17,18,NaN,Corinthians >>,Desceu3,20,21,4,8,9,19,28,-9,31
18,19,NaN,Cuiabá >>,Desceu1,17,19,4,5,10,19,25,-6,29
19,20,NaN,Atlético Goianiense >>,NaN,12,21,2,6,13,17,35,-18,19

1.13 mostrar todas as colunas

In [26]:
df.columns

Index(['Times', 'Times.1', 'Times.2', 'Times.3', 'P', 'J', 'V', 'E', 'D', 'GP',
       'GC', 'SG', '%'],
      dtype='object')

#### 1.14 mostrar a coluna
1.14 mostrar varias colunas [time e vitorias]

1.15 mostrar colunas

In [28]:
df['Times.2']

0                Botafogo >>
1                Flamengo >>
2               Fortaleza >>
3               Palmeiras >>
4                Cruzeiro >>
5               São Paulo >>
6                   Bahia >>
7            Athletico-PR >>
8             Atlético-MG >>
9              Bragantino >>
10          Vasco da Gama >>
11               Criciúma >>
12              Juventude >>
13                 Grêmio >>
14                Vitória >>
15          Internacional >>
16             Fluminense >>
17            Corinthians >>
18                 Cuiabá >>
19    Atlético Goianiense >>
Name: Times.2, dtype: object

1.16 mostrar varias colunas(time e vitorias)

1.16- mostrar informaçoes estruturais do DataFrame

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Times    20 non-null     int64
 1   Times.1  0 non-null      float64
 2   Times.2  20 non-null     object
 3   Times.3  10 non-null     object
 4   P        20 non-null     int64
 5   J        20 non-null     int64
 6   V        20 non-null     int64
 7   E        20 non-null     int64
 8   D        20 non-null     int64
 9   GP       20 non-null     int64
 10  GC       20 non-null     int64
 11  SG       20 non-null     int64
 12  %        20 non-null     int64
dtypes: float64(1), int64(10), object(2)
memory usage: 2.2+ KB

#### 1.17 mostrar informaçoes de estatisticas DESCRITIVA do DataFrame

In [30]:
df.describe()

,Times,Times.1,P,J,V,E,D,GP,GC,SG,%
count,20.00000,0.0,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000
mean,10.50000,NaN,27.25000,19.800000,7.450000,4.900000,7.450000,24.000000,24.00000,0.000000,45.350000
std,5.91608,NaN,8.57705,1.239694,3.051747,1.552587,2.723678,5.973626,5.30144,8.687559,13.468384
min,1.00000,NaN,12.00000,16.000000,2.000000,2.000000,3.000000,14.000000,14.00000,-18.000000,19.000000
25%,5.75000,NaN,21.00000,19.000000,5.000000,4.000000,5.750000,19.000000,20.00000,-6.500000,35.250000
50%,10.50000,NaN,25.00000,20.000000,7.000000,5.000000,7.000000,23.500000,23.50000,0.000000,44.000000
75%,15.25000,NaN,35.00000,21.000000,10.250000,6.000000,10.000000,28.250000,28.00000,7.000000,55.750000
max,20.00000,NaN,43.00000,21.000000,13.000000,8.000000,13.000000,35.000000,35.00000,15.000000,68.000000

1.18 mostrar informaçoes da coluna times. 2 e %

In [32]:
df[['Times.2', '%']].head()

        Times.2   %
0   Botafogo >>  68
1   Flamengo >>  66
2  Fortaleza >>  65
3  Palmeiras >>  58
4   Cruzeiro >>  58

In [34]:
df.rename(columns={'Times.2': 'time'},inplace=True)

In [35]:
df.rename(columns={'%':'percentual'},inplace=True)

In [36]:
df[['time','percentual']]

                      time  percentual
0              Botafogo >>          68
1              Flamengo >>          66
2             Fortaleza >>          65
3             Palmeiras >>          58
4              Cruzeiro >>          58
5             São Paulo >>          55
6                 Bahia >>          50
7          Athletico-PR >>          49
8           Atlético-MG >>          49
9            Bragantino >>          45
10        Vasco da Gama >>          40
11             Criciúma >>          42
12            Juventude >>          38
13               Grêmio >>          36
14              Vitória >>          33
15        Internacional >>          43
16           Fluminense >>          33
17          Corinthians >>          31
18               Cuiabá >>          29
19  Atlético Goianiense >>          19

1.19-Dever de Casa

In [ ]:
#### 1.19 Estudar função replace(mudar strings), regex, plot(criar graficos)